//blacks
$black: #000000;
$black-1: #000c0e;

//grays,neutrals
$dark-gray: #bababa;
$lighter-gray: #eceff0;
$mid-gray: #f4f4f4;
$light-gray: #dcdcdc;
$green-gray: #a2b1b2;
$white: #ffff;

//vivids
$blue: #00072e;
$menu-active: #009aa6;
$light-header: #153c3e;
