@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./typography";
@import "./colors";
@import "./variables";
@import "./position";
@import "./mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
}

.page-content {
  max-width: 1440px;
  margin-left: 42px;
  margin-top: 94px;
}
